*
{
	box-sizing: border-box;
}
body
{
	margin: 0;
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
#main-container {
	width: 1124px;
	height: 100%;
	min-height: 100vh;
}
.section {
	position: relative;
	padding-left: 81px;
	padding-right: 85px;
}
.top
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 72px;
	display: flex;
	
	background-color: #fff;
	box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);

	z-index: 8;
}
.top > div {
	height: 100%;
}
.top__leftbox {
	display: flex;
	align-items: center;
}
.top__leftbox a {
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	font-weight: 500;
	text-decoration: none;
}
.top__leftbox--logo {
	width: 120px;
}
.top__centerbox {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;

	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--time-selector {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--time-selector--innerbox {
	width: 100%;
	max-height: 40px;
	max-width: 220px;
	margin: 16px 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #e0e0e0;
}
.top__centerbox--time-selector--value {
	font-size: 16px;
	line-height: 24px;
	padding: 12px;
}
.top__centerbox > span {
	text-align: center;
	position: relative;
	font-weight: 300;
	color: #626262;
	line-height: auto;
	display: inline-block;
	flex: 0 0 8%;
}
.top__centerbox--address {
	position: relative;
	max-width: 272px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid #e0e0e0;
}
.top__centerbox--address--img-wrapper {
	position: absolute;
	left: 16px;
	height: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--address--img {
	width: 16px;
	height: 16px;
}
.top__centerbox--address input {
	height: 40px;
	line-height: 20px;
	padding: 0px 16px 0px 40px;
	font-size: 14px;
	color: #262626;
	outline: none;
	border: none;
	border-radius: 2px;
}
.top__rightbox {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.top__rightbox--block {
	height: 100%;
	margin-right: 8px;
	padding-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top__rightbox--button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	height: 40px;
	width: auto;
	min-width: 104px;
	text-decoration: none;
	font-weight: medium;
	font-size: 13px;
	line-height: 24px;
	font-weight: 600;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 2px;
	
	border: 1px solid #e0e0e0;
	color: #262626;
}
.top__rightbox--sign-in {
	background-color: #fff;
}
.top__rightbox--register {
	color: #fff;
	background-color: #262626;
	border: 1px solid #262626;
}

.body {
	margin-top: 84px;
	background-color: #fff;
}
.body__top-path {
	position: relative;
	width: 85%;
	height: 56px;
	margin-bottom: 24px;
	margin-top: 24px;
	padding-top: 20px;
	color: #262626;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.body__top-path--search-field {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	width: 100%;
	z-index: 2;
	font-size: 20px;
	line-height: 24px;
	
	box-shadow: rgb(224, 224, 224) 0px 1px 0px 0px;
	background-color: #fff;
}
.search-field-img {
	overflow: hidden;
	width: 30;
	height: 30;
	flex-shrink: 0;
}
.search-field-input {
	width: 100%;
	margin: 0;
	padding: 8px;
	line-height: 24px;
	font-size: 16px;
	outline: none;
	border: none;
	z-index: 2;

	color: #262626;
	background-color: inherit;
}
.search-field-input::-webkit-input-placeholder { 
	color: #b0b0b0;
}
.body__heading {
	margin: 40px 0px 32px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.body__heading h1 {
	letter-spacing: normal;
	margin-bottom: 0;
	line-height: 34px;
	font-size: 22px;
	color: #1d1d1d;
	font-weight: 400;
}

.body__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
}
.card-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	flex: 1 1 33%;
	height: 357px;
	width: 33.33%;
	padding-left: 15px;
	margin-bottom: 32px;

	transition: 300ms ease 0s;
}
.card-wrapper-link {
	line-height: 24px;
	font-size: 16px;
	width: 100%;
	transition: 400ms ease 0s; 
	text-decoration: none;
}
.card-wrapper-01 a {
	background-color: #f9f9f9;
}
.card-wrapper-link:hover {
	transform: translateY(1%);
}
.card-photo {
	border-radius: 4px;
	background-size: cover;
	background-position: center center;
	height: 240px;
	background-color: rgb(117, 117, 117);
	position: relative;	
}
.card-name {
	padding-top: 18px;
	color: #262626;
	line-height: 24px;
	font-size: 16px;
	position: relative;
}
.card-description {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	line-height: 20px;
	font-size: 14px;
	
	color: #757575;
}
.card-description p {
	margin: 6px 0px;
}
.card-description span {
	padding-right: 2px;
	text-overflow: ellipsis;
}
.card-description > p:last-child {
	line-height: 20px;
	font-size: 14px;
	color: #262626;
}

.footer {
	left: 0px;
	width: 100%;
	padding: 54px 85px 40px 81px;
	background-color: #262626;
}
.footer__in {
	max-width: 1124px;
	color: #fff;
}
.footer__main-logo {
	position: relative;
	width: 146px;
}
.line {
	width: 100%;
	margin: 24px 0px 24px 0px;
	border: 1px solid #727272;
}
.footer__titles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;

	width: 100%;
	
}
.footer__titles__part, .footer__bottom--row {
	margin: 18px 0 8px 0;
	width: 33.333%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	font-size: 14px;
}
.footer__titles__left-part--language {
	position: relative;
	width: 80%;
	height: 40px;
	min-width: 160px;
	margin-bottom: 20px;
	line-height: 20px;

	background-color: #3b3b3b;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.footer__titles__left-part--language::before {
	content: '';
	background: url("imgs/world.svg") no-repeat;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 15px;
	top: 11px;
	z-index: 0;
}
.footer__titles__left-part--language::after {
	content: '';
	background: url("imgs/arrow-down.svg") no-repeat;
	position: absolute;
	z-index: 0;
	width: 16px;
	height: 16px;
	right: 10px;
	top: 14px;
}
.footer--form {
	width: 100%;
}
.footer--form--language-select {
	width: 100%;
	padding: 10px;
	background: #3b3b3b;
	color: #fff;
	border: none;
	padding-left: 45px;
	text-transform: uppercase;
	-webkit-appearance: none;
}
.footer__titles__left-part--hashtag {
	font-size: 16px;
}
.social-network-img {
	width: 25px;
	height: 25px;
	margin: 12px 12px 12px 0px;
}
.footer__titles__middle-part a,
.footer__titles__right-part a {
	margin-bottom: 24px;
	text-decoration: none;

	color: #fff;
}
.footer__downloads, .footer__bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.footer__downloads--btn {
	margin: 20px 25px;
	width: 135px;
	height: 40px;
}
.footer__bottom--row {
	font-size: 11px;
	color: #e4e4e4;
}

.up-key {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 2px;
	opacity: 1;
	transform: translateY(100px);
	transition: all 300ms ease-out 0s;
}
.up-key--button {
	width: 80px;
	height: 80px;
	font-size: 32px;
	border: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	transition: all 400ms ease 0s;
	cursor: pointer;

	background-color: #59BD5A;
	color: #fff;
}
.up-key--button:hover {
	background-color: #60ce6b;
}
body:before {
	position: fixed;
	left: 10px;
	top: 20px;
	content: 'large';
	z-index: 10;
}
@media (max-width: 1024px) {
	body:before {
		content: 'middle';
	}
	.body {
		background-color: transparent;
	}
	.card-wrapper {
		flex: 0 0 48%;
		width: 48%;
	}
	.body__top-path--search-field {
		background-color: transparent;
	}
	.card-wrapper-01 a {
		background-color: transparent;
	}
	.footer {
		padding: 54px 8px 30px 8px;
	}
}
@media (max-width: 667px) {
	body:before {
		content: 'small';
	}
	.card-wrapper {
		flex: 0 0 100%;
		width: 100%;
	}
	.footer__titles, .footer__bottom {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.footer__titles__part, .footer__bottom--row {
		width: 100%;
	}
}