body
{
	margin: 0;
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-x: auto;
}
*
{
	box-sizing: border-box;
}
.section {
	position: relative;
	width: 100vw;
	height: 72px;
	padding-left: 7.2vw;
	padding-right: 7.5vw;
}
.top
{
	position: fixed;
	top: 0;
	display: flex;
	
	background-color: #fff;
	box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);

	z-index: 7;
}
.top > div {
	height: 100%;
}
.top__leftbox {
	display: flex;
	align-items: center;
}
.top__leftbox a {
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	font-weight: 500;
	text-decoration: none;
}
.top__leftbox--logo {
	width: 120px;
}
.top__centerbox {
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;

	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--time-selector {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--time-selector--innerbox {
	width: 100%;
	max-height: 40px;
	max-width: 220px;
	margin: 16px 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #e0e0e0;
}
.top__centerbox--time-selector--value {
	font-size: 16px;
	line-height: 24px;
	padding: 12px;
}
.top__centerbox > span {
	text-align: center;
	position: relative;
	font-weight: 300;
	color: #626262;
	line-height: auto;
	display: inline-block;
	flex: 0 0 8%;
}
.top__centerbox--address {
	position: relative;
	max-width: 272px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid #e0e0e0;
}
.top__centerbox--address--img-wrapper {
	position: absolute;
	left: 16px;
	height: 60%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top__centerbox--address--img {
	width: 16px;
	height: 16px;
}
.top__centerbox--address input {
	height: 40px;
	line-height: 20px;
	padding: 0px 16px 0px 40px;
	font-size: 14px;
	color: #262626;
	outline: none;
	border: none;
	border-radius: 2px;
}
.top__rightbox {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.top__rightbox--block {
	height: 100%;
	margin-right: 8px;
	padding-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top__rightbox--button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;

	height: 40px;
	width: auto;
	min-width: 104px;
	text-decoration: none;
	font-weight: medium;
	font-size: 14px;
	line-height: 24px;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 2px;
	
	border: 1px solid #e0e0e0;
	color: #262626;
}
.top__rightbox--sign-in {
	background-color: #fff;
}
.top__rightbox--register {
	color: #fff;
	background-color: #262626;
	border: 1px solid #262626;
}



.card-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	width: 33.33%;
	height: 357px;
	padding-left: 32px;
}
.card-wrappper a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	line-height: 24px;
	font-size: 16px;
	width: 199%;
	transition: 400ms ease 0s; 

	border: 2px dotted #000;
}
.card-photo {
	background-image: url("imgs/mac.png");
	border-radius: 4px;
	background-size: cover;
	background-position: center center;
	height: 240px;
	background-color: rgb(117, 117, 117);
	position: relative;	
}
.card-name {
	padding-top: 10px;
	color: #262626;
	line-height: 24px;
	font-size: 16px;
	position: relative;
}
.card-description {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #757575;
}
.card-description > p:last-child {
	line-height: 20px;
	font-size: 14px;
	color: #262626;
	background-color: #f5f5f5;
}